@tailwind base;
@tailwind components;
@tailwind utilities;

.stack > *:nth-child(2) {
  transform: translateY(0) scale(1);
  z-index: 2;
  opacity: 0.8;
}

@media (max-width: 768px) {
  .hide {
    display: none;
  }
}

.unhide {
  display: inherit;
}

.blog_detail h2 {
  margin-bottom: 16px;
  margin-top: 32px;
  font-size: 30px;
  font-weight: 600;
}

.blog_detail h3 {
  margin-top: 16px;
  margin-bottom: 8px;
  font-size: 24px;
  font-weight: 600;
}

.blog_detail a {
  color: #025c7a;
  font-weight: 600;
}

.blog_detail span {
  font-weight: 600;
}

.blog_detail a:hover {
  color: #0d2000;
}

.blog_detail p {
  margin-bottom: 8px;
  font-size: 16px;
}

.blog_detail ul {
  margin-bottom: 8px;
  font-size: 16px;
  list-style-type: square;
  list-style-position: inside;
}

.blog_detail ul li::marker {
  color: #6e9753;
  /* Set the bullet color */
}

.package_detail .img-flex-center {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 640px) {
  /* sm breakpoint in Tailwind */
  .package_detail .img-flex-center {
    width: 50%;
  }
}

.package_detail .blog-image {
  height: 100%;
  border-radius: 20px;
  /* Rounds the corners */
  object-fit: cover;
  /* Ensures the image covers the area without distortion */
}

.package_detail .blog-flex-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  /* Equivalent to Tailwind's gap-8 */
}

@media (min-width: 640px) {
  /* sm breakpoint in Tailwind */
  .package_detail .blog-flex-container {
    flex-direction: row;
  }
}

.package_detail .blog-flex-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
  /* Equivalent to Tailwind's gap-2 */
}

@media (min-width: 640px) {
  /* sm breakpoint in Tailwind */
  .package_detail .blog-flex-box {
    width: 50%;
    padding-top: 1rem;
    /* Equivalent to Tailwind's py-4 */
    padding-bottom: 1rem;
  }
}

@media (max-width: 600px) {
  .package_detail .blog-image {
    aspect-ratio: 3 / 2;
  }
  .package_detail .blog-flex-box {
    padding-left: 10px;
  }
}
